.services__item {
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    height: 31.2rem;
    max-width: 31rem;
    padding: 3rem;
    margin: 1rem;
    border-radius: 1rem;
}

.services__item h2 {
    font-family: "Archivo Black";
    text-align: center;
    margin-top: 1.6rem;
    font-size: 1.8rem;
}

.item__img {
    width: 8rem;
    height: 8rem;
}

.item__caption {
    text-align: center;
    max-width: 28rem;
    font-size: 1.6rem;
    margin-top: 0.9rem;
    color: #707070;
}