footer.footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    min-height: 57rem;
    background-color: #F8E1DB;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    margin-top: 15rem;
}

.footer-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer-titles {
    font-family: "Archivo Black";
    font-size: 1.8rem;
    color: #3B3735;
    margin-bottom: 2rem;
    text-wrap: wrap;
}

/* left content */
.footer__left-content {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-top: 12rem;
}

.left-content__caption {
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #3B3735;
    line-height: 2.7rem;
   width: 100%;
}

.left-content__apps {
    position: absolute;
    bottom: 5.5rem;
}

.apps__title {
    font-family: "Archivo Black";
    font-size: 1.8rem;
    color: #3B3735;
    margin-bottom: 1.6rem;
}

.apps__img-container {
    display: flex;
}

.left-content__apps img {
    margin-right: 0.4rem;
    cursor: pointer;
}

/* left content */

/* right content */
.footer__right-content {
    display: flex;
    align-items: start;
    flex-basis: 50%;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 18rem;
}

.right-content__list {
    margin: 4rem 4rem 0 0 ;
}

.right-content__list li {
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #3B3735;
    line-height: 2.7rem;
}

/* right content */

/* additional */

.copy {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    font-family: "Roboto";
    color: #3B3735;
    text-align: center;
}

.go-top {
    display: flex;
    position: absolute;
    top: -1.5rem;
    right: auto;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 1rem;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    left: 50%;
    transform: translate(-50%);
}

.go-top:hover {
    transform: translateY(-1rem) scale(1.1) translate(-50%);
}