footer.footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    min-height: 57rem;
    background-color: #F8E1DB;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    margin-top: 15rem;
}

.footer-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer-titles {
    font-family: "Archivo Black";
    font-size: 1.8rem;
    color: #3B3735;
    margin-bottom: 2rem;
}

/* left content */
.footer__left-content {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-top: 12rem;
}

.left-content__caption {
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #3B3735;
    line-height: 2.7rem;
   width: 100%;
}

.left-content__apps {
    margin-top: 3.5rem;
}

.apps__title {
    font-family: "Archivo Black";
    font-size: 1.8rem;
    color: #3B3735;
    margin-bottom: 1.6rem;
}

.left-content__apps img {
    margin-right: 0.4rem;
}

/* left content */

/* right content */
.footer__right-content {
    display: flex;
    align-items: start;
    flex-basis: 50%;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.right-content__list {
    margin: 4rem 4rem 0 0 ;
}

.right-content__list li {
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #3B3735;
    line-height: 2.7rem;
}

/* right content */