/* desitnations */

.destinations {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 27rem;
}

.destination-title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: -30rem;
}

.destination-title-container__icon {}

.destination-title-container__title {
    text-align: center;
    font-size: 4rem;
    font-family: "Archivo Black";
    max-width: 47rem;
}

.destinations__link {
    position: absolute;
    bottom: -7rem;
    margin-top: 7rem;
    width:19rem;
    height: 4.2rem;
    background: transparent;
    color: #E76F51;
    border: 1px solid #E76F51;
}